<?xml version="1.0"?>
<config>
    <modules>
        <RedLightBlinking_MegaMenu>
            <version>0.1.0</version>
        </RedLightBlinking_MegaMenu>
    </modules>
    <global>
        <models>
            <megamenu>
                <class>RedLightBlinking_MegaMenu_Model</class>
            </megamenu>
        </models>
        <blocks>
            <megamenu>
                <class>RedLightBlinking_MegaMenu_Block</class>
            </megamenu>
            <page>
                <rewrite>
                    <html_topmenu>RedLightBlinking_MegaMenu_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <megamenu>
                <class>RedLightBlinking_MegaMenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_category_edit_prepare_form>
                <observers>
                    <redlightblinking_setup>
                        <class>megamenu/observer</class>
                        <method>adminhtmlCatalogCategoryEditPrepareForm</method>
                    </redlightblinking_setup>
                </observers>
            </adminhtml_catalog_category_edit_prepare_form>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <megamenu>
                <use>admin</use>
                <args>
                    <frontName>admin_megamenu</frontName>
                    <module>RedLightBlinking_MegaMenu_Adminhtml</module>
                </args>
            </megamenu>
        </routers>
    </admin>
    <default>
        <catalog>
            <navigation>
                <megamenu>1</megamenu>
            </navigation>
        </catalog>
    </default>
</config>
