/**
* Custom Styles for Responsive Default (boilerplate) Theme
*
**/

/* FIXES TO MAGENTO STYLES */
body {color: #5a5a5a;}
.page {text-align:left; width:auto}
.branding {position:relative; margin:0; height:auto}
.header {width:auto}
.category-view { margin:0}
.breadcrumbs {background: none; padding:0px}
.checkout-link {float:right}
.header-panel .links {float:none}
.switches {background:none}
.product-view {width: auto; background: none; margin:20px 0 0; padding:0;float:none; border:0}
.page-title{ border-bottom: 1px solid #EEEEEE; margin: 20px; padding-bottom: 9px; background: none }
.page-title h1, .page-title h2 {
    color: #5A5A5A;
    font: 32px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.account-login .new-users, .account-login .registered-users {width:49%}
.account-login {background:none}

.product-name,  .category-products .price-box{font-size:14px}
					  
.product-essential .price-box {font-size:18px; margin-bottom:15px}


.sidebar .block-layered-nav .block-title {
    padding: 10px;
}

.sidebar .block .block-title {
    background-color: #555555;
    color: #FFFFFF;
    padding: 10px;
}
.sidebar .block .block-title span {color:#ffffff}
#poll-answers label {color: #999999}

.navbar-inverse .navbar-nav > li > a {
    color: #999999;
    text-transform: uppercase;
}
.sidebar .block-layered-nav dt {font-size:16px}
.sorter .sort-by {float: left; margin-right: 40px}
.sorter .amount, .sorter .limiter {float:right}
.sorter .amount {margin-right:40px}
.products-grid .product-image, .products-grid li.item {width: auto;}
.cart {background:none}
.cart .cart-collaterals h2 {font-size: 1.6em}
.opc {width:75%}
.opc-progress-container {width:20%}
.opc .step,.form-list label {
    font-size: inherit;
    
}
#checkout-step-login .col2-set {background:none}
#newsletter-validate-detail input {display:block; margin-bottom: 20px}    

/* RESET MAGENTO BUTTON STYLES TO THE DEFAULT BOOTSTRAP STYLE */

button.button {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    color:#333333;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
    background-repeat: repeat-x;
    border-color: #CCCCCC;
    text-shadow: 0 1px 0 #FFFFFF;
}
button.button span, button.button span span {background:none;color:#333333;font-family:inherit; font-size:14px;}

.cart .checkout-types .btn-proceed-checkout span,.cart .checkout-types .btn-proceed-checkout span span {background:none; font-weight:normal !important; text-transform: uppercase}
button.button.btn-proceed-checkout{background-image: linear-gradient(to bottom, #5CB85C 0%, #449D44 100%);
    background-repeat: repeat-x;
    border-color: #419641;}

.cart-table .button, .cart .giftcard .check-gc-status {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
}



/* HOME PAGE  STYLES FROM BOOTSTRAP CAROUSEL*/
.marketing .col-lg-4 { text-align: center; margin-bottom: 20px;}
.carousel { margin-bottom: 20px;}
footer {clear:both}
.featurette-divider {
  margin: 80px 0; 
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {

  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
 
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* MOBILE ONLY FIXES */
@media (max-width: 768px) {
    .welcome-msg,  .header-panel > .links {display:none !important}
    .header .form-search {float:none; clear:both}
    .product-collateral {
        width: 100%;
    }
    img {max-width:100%}
}