@mixin hover_transition {
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out;
}

@mixin panel-heading-default {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
	background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e8e8e8, 100%);
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
@mixin panel-heading-success {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#d0e9c6));
	background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #d0e9c6, 100%);
	background-image: -moz-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
	background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}